Repository okojomoeko/knowledge-base-organizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system
  stages:
  - pre-commit
  - manual

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  stages:
  - pre-commit
  - manual

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - manual

fix: auto-linkの除外ロジックを改善 - リンク除外ロジックをLinkAnalysisServiceに集約 - URL内の文字列がリンクされる問題を修正するため、URLを新たな除外ゾーンとして追加 - 責務の変更に合わせて、関連する単体テストと統合テストを修正 - ContentProcessingServiceから重複したロジックを削除 - 単語境界を判定する正規表現の不具合を修正
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/tag_management.py
  src/knowledge_base_organizer/domain/models.py
  src/knowledge_base_organizer/domain/services/content_processing_service.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  src/knowledge_base_organizer/infrastructure/file_repository.py
  tests/application/test_real_vault_analysis.py
  tests/cli/test_utils.py
  tests/integration/test_auto_link_bug_fixes.py
  tests/integration/test_auto_link_generation_task_7_4.py
  tests/integration/test_dead_link_detection_task_6_4.py
  tests/integration/test_frontmatter_validation_end_to_end.py
  tests/unit/domain/services/test_content_processing_service.py
  tests/unit/domain/services/test_link_analysis_service.py
Due: trailing-whitespace

やることを整理
  .kiro/specs/knowledge-base-organizer/design.md
  .kiro/specs/knowledge-base-organizer/requirements.md
  .kiro/specs/knowledge-base-organizer/tasks.md
Due: none

タスクブラッシュアップ
  .kiro/specs/enhanced-auto-linking/requirements.md
  .kiro/specs/knowledge-base-organizer/design.md
  .kiro/specs/knowledge-base-organizer/requirements.md
  .kiro/specs/knowledge-base-organizer/tasks.md
Due: none

タスクブラッシュアップ
  .kiro/specs/knowledge-base-organizer/design.md
  .kiro/specs/knowledge-base-organizer/requirements.md
  .kiro/specs/knowledge-base-organizer/tasks.md
Due: none

feat: implement Japanese katakana variation detection with external dictionary
  .kiro/specs/knowledge-base-organizer/tasks.md
  src/knowledge_base_organizer/config/japanese_variations.yaml
  src/knowledge_base_organizer/domain/services/tag_pattern_manager.py
Due: check-yaml, trailing-whitespace

feat: implement duplicate note detection system
  .kiro/specs/knowledge-base-organizer/tasks.md
  .kiro/tag_patterns/japanese_variations.yaml
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/organize_command.py
  src/knowledge_base_organizer/cli/tag_management.py
  src/knowledge_base_organizer/domain/services/content_analysis_service.py
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  src/knowledge_base_organizer/domain/services/tag_pattern_manager.py
  src/knowledge_base_organizer/infrastructure/file_repository.py
  test-vault/file1-copy.md
  test-vault/file1.md
  test-vault/file2.md
  test-vault/similar-filename.md
  test-vault/unique-file.md
  tests/cli/test_utils.py
  tests/domain/services/test_content_analysis_service.py
  tests/integration/test_auto_link_bug_fixes.py
Due: check-yaml, trailing-whitespace

feat: implement English-Japanese translation system (task 12.2)
  .kiro/specs/knowledge-base-organizer/tasks.md
  .kiro/tag_patterns/japanese_variations.yaml
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/config/japanese_variations.yaml
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  src/knowledge_base_organizer/domain/services/tag_pattern_manager.py
  tests/domain/services/test_english_japanese_translation.py
Due: check-yaml, trailing-whitespace

feat: implement Japanese language processing integration for auto-linking
  .kiro/japanese_variations.yaml
  .kiro/specs/knowledge-base-organizer/tasks.md
  .kiro/tag_patterns.json
  .pre-commit-config.yaml
  .vscode/settings.json
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  tests/integration/test_auto_link_bug_fixes.py
  tests/integration/test_auto_link_generation_task_7_4.py
  tests/integration/test_dead_link_detection_end_to_end.py
  tests/test-data/vaults/test-myvault/.kiro/japanese_variations.yaml
  tests/test-data/vaults/test-myvault/.kiro/tag_patterns.json
  tests/unit/domain/services/test_link_analysis_service.py
Due: check-yaml, trailing-whitespace

feat: add comprehensive test suite for auto-link bug fixes
  auto-link-issues-analysis.md
  experiments/debug_exclusion_zones_20250123.py
  experiments/debug_frontmatter_state_20250123.py
  experiments/debug_lrd_lines_20250123.py
  experiments/debug_lrd_test_failure_20250123.py
  experiments/test_lrd_detection_20250123.py
  experiments/test_lrd_exclusion_20250123.py
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  src/knowledge_base_organizer/infrastructure/file_repository.py
  test-vault/file1-copy.md
  test-vault/file1.md
  test-vault/file2.md
  test-vault/similar-filename.md
  test-vault/unique-file.md
  tests/infrastructure/test_file_repository_frontmatter_protection.py
  tests/integration/test_auto_link_bug_fixes.py
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20230808222507.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240423201410.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240520185933.md
  tests/unit/domain/services/test_link_analysis_service.py
Due: trailing-whitespace

fix: complete auto-link frontmatter protection and external link exclusion
  auto-link-issues-analysis.md
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  src/knowledge_base_organizer/infrastructure/file_repository.py
  tests/integration/test_auto_link_bug_fixes.py
Due: trailing-whitespace

fix: complete auto-link frontmatter protection and external link exclusion
  .kiro/tag_patterns.json
  experiments/test_regex_patterns.py
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  test_external_link.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20230709211042.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20230730200042.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240423201410.backup_20251024_230444.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240520185933.backup_20251024_230053.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240520185933.backup_20251024_233632.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/20240520185933.backup_20251024_233848.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/test_external_link.backup_20251024_223151.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/test_external_link.md
  tests/test-data/vaults/test-myvault/101_PermanentNotes/test_frontmatter_protection.backup_20251024_230444.bak
  tests/test-data/vaults/test-myvault/101_PermanentNotes/test_frontmatter_protection.md
Due: trailing-whitespace

feat: implement orphaned note detection system with configurable keyword extraction
  .kiro/specs/knowledge-base-organizer/tasks.md
  experiments/debug_exclusion_zones_20250123.py
  experiments/debug_frontmatter_state_20250123.py
  experiments/debug_lrd_test_failure_20250123.py
  experiments/test_lrd_exclusion_20250123.py
  src/knowledge_base_organizer/config/keyword_extraction.yaml
  src/knowledge_base_organizer/domain/services/keyword_extraction_manager.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  tests/test-data/vaults/test-myvault/.kiro/keyword_extraction.yaml
  tests/unit/domain/services/test_keyword_extraction_manager.py
  tests/unit/domain/services/test_link_analysis_service.py
Due: check-yaml, trailing-whitespace

feat: implement maintain command and update comprehensive documentation
  .kiro/specs/knowledge-base-organizer/tasks.md
  README.md
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/maintain_command.py
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  tests/cli/test_maintain_command.py
Due: trailing-whitespace

fix: resolve frontmatter access error in orphan detection
  src/knowledge_base_organizer/cli/maintain_command.py
Due: trailing-whitespace

revise: spec
  .kiro/specs/knowledge-base-organizer/design.md
  .kiro/specs/knowledge-base-organizer/requirements.md
  .kiro/specs/knowledge-base-organizer/tasks.md
Due: none

feat: implement AI services domain interfaces
  src/knowledge_base_organizer/domain/services/__init__.py
  src/knowledge_base_organizer/domain/services/ai_services.py
Due: trailing-whitespace

feat: implement OllamaEmbeddingService for semantic analysis
  .kiro/specs/knowledge-base-organizer/tasks.md
  pyproject.toml
  src/knowledge_base_organizer/infrastructure/__init__.py
  src/knowledge_base_organizer/infrastructure/ollama_embedding.py
  tests/infrastructure/test_ollama_embedding.py
  uv.lock
Due: check-toml, trailing-whitespace

feat: implement FaissVectorStore for efficient vector similarity search
  .kiro/specs/knowledge-base-organizer/tasks.md
  pyproject.toml
  src/knowledge_base_organizer/infrastructure/__init__.py
  src/knowledge_base_organizer/infrastructure/faiss_vector_store.py
  tests/infrastructure/test_faiss_vector_store.py
  uv.lock
Due: check-toml, trailing-whitespace

feat: implement OllamaLLMService for AI-powered content analysis
  .kiro/specs/knowledge-base-organizer/tasks.md
  src/knowledge_base_organizer/infrastructure/__init__.py
  src/knowledge_base_organizer/infrastructure/ollama_llm.py
  tests/infrastructure/test_ollama_llm.py
Due: trailing-whitespace

feat: implement DI container for AI services
  .kiro/specs/knowledge-base-organizer/tasks.md
  src/knowledge_base_organizer/cli/ai_command.py
  src/knowledge_base_organizer/cli/di_setup.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/infrastructure/__init__.py
  src/knowledge_base_organizer/infrastructure/di_container.py
  tests/infrastructure/test_di_container.py
Due: trailing-whitespace

feat: implement RAG infrastructure with vector indexing and semantic search
  .kiro/specs/knowledge-base-organizer/tasks.md
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/ask_command.py
  src/knowledge_base_organizer/cli/index_command.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/infrastructure/di_container.py
  tests/application/test_auto_link_generation_semantic.py
  tests/cli/test_ask_command.py
  tests/cli/test_index_command.py
Due: trailing-whitespace

feat: implement AI-enhanced organize and summarize commands
  .kiro/specs/knowledge-base-organizer/tasks.md
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/organize_command.py
  src/knowledge_base_organizer/cli/summarize_command.py
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  tests/cli/test_organize_command.py
  tests/cli/test_summarize_command.py
  tests/domain/services/test_frontmatter_enhancement_service_ai.py
  tests/integration/test_ai_enhanced_organize_end_to_end.py
Due: trailing-whitespace

docs: add comprehensive AI features documentation
  README.md
Due: none

feat: implement flexible LLM configuration system
  README.md
  src/knowledge_base_organizer/cli/llm_command.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/organize_command.py
  src/knowledge_base_organizer/cli/summarize_command.py
  src/knowledge_base_organizer/config/llm_config.yaml
  src/knowledge_base_organizer/infrastructure/llm_config.py
  src/knowledge_base_organizer/infrastructure/llm_factory.py
  src/knowledge_base_organizer/infrastructure/openai_compatible_llm.py
Due: check-yaml, trailing-whitespace

feat: implement flexible LLM configuration system with external injection
  README.md
  custom_llm_test.yaml
  src/knowledge_base_organizer/config/llm_config.yaml
  src/knowledge_base_organizer/domain/services/frontmatter_enhancement_service.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  src/knowledge_base_organizer/infrastructure/llm_config.py
  src/knowledge_base_organizer/infrastructure/llm_factory.py
  src/knowledge_base_organizer/infrastructure/ollama_llm.py
  src/knowledge_base_organizer/infrastructure/openai_compatible_llm.py
  tests/application/test_real_vault_analysis.py
  tests/cli/test_llm_command.py
  tests/cli/test_organize_command.py
  tests/cli/test_summarize_command.py
  tests/infrastructure/test_llm_config.py
  tests/infrastructure/test_llm_factory.py
  tests/infrastructure/test_openai_compatible_llm.py
  tests/integration/test_ai_enhanced_organize_end_to_end.py
  tests/integration/test_dead_link_detection_task_6_4.py
  tests/integration/test_llm_configuration_integration.py
Due: check-yaml, trailing-whitespace

feat: improve developer experience with optimized quality checks
  .pre-commit-config.yaml
  bandit.yaml
  noxfile.py
  pyproject.toml
  ruff.toml
  scripts/development/README.md
  scripts/development/full_check.sh
  scripts/development/full_quality_check.sh
  scripts/development/quick_commit_check.sh
  scripts/development/setup_fast_dev.sh
  src/knowledge_base_organizer/application/auto_link_generation_use_case.py
  src/knowledge_base_organizer/cli/main.py
  src/knowledge_base_organizer/cli/maintain_command.py
  src/knowledge_base_organizer/domain/models.py
  src/knowledge_base_organizer/domain/services/frontmatter_validation_service.py
  src/knowledge_base_organizer/domain/services/link_analysis_service.py
  src/knowledge_base_organizer/infrastructure/llm_factory.py
  tests/cli/test_summarize_command.py
  tests/infrastructure/test_llm_config.py
  tests/infrastructure/test_llm_factory.py
  tests/infrastructure/test_openai_compatible_llm.py
  tests/integration/test_frontmatter_validation_end_to_end.py
  tests/integration/test_llm_configuration_integration.py
Due: check-toml, check-yaml, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  trailing-whitespace: any file but: \.(md|markdown|mdown)$
